<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Discover georgia{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}travel,georgia,trips{% endblock %}">
    <meta name="description" content="{% block page_description %}Travel site{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Manrope:100,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('front') }}
</head>

<body>
<header class="header">
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img height="40" src="{{ asset('build/images/logo.png') }}" alt="discover-georgia">
                    <span>Discover Georgia</span>
                </a>
            </div>
            <ul class="header__menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Туры</a></li>
                <li><a href="#">Компаниям</a></li>
            </ul>
        </nav>
        <div class="header__social-media">
            <div class="header__social-media_links">
                <a href="tel:+74951234567">+995 123-45-67</a>
                <a href="https://t.me/your_name" target="_blank"
                   title="Написать в Telegram">
                    <svg class="icon">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="https://t.me/your_name" target="_blank"
                   title="Написать в Whatsapp">
                    <svg class="icon">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
            <div class="header__currencies">
                <svg class="icon">
                    <use xlink:href="#flag-ge"></use>
                </svg>
                <a href="#">
                    GEL ^
                </a>
            </div>
        </div>

    </div>
</header>

<main id="app">

    {% block main %}

    {% endblock %}
</main>

<footer class="footer">

</footer>

<!-- Скрытый SVG-спрайт подключать отдельным файлом-->
<svg width="0" height="0" class="hidden">
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16" id="flag-ge">
        <g clip-path="url(#clip0_657_10839)">
            <path d="M0 0H24V16H0V0Z" fill="white"></path>
            <path d="M10.4 0H13.6V16H10.4V0ZM0 6.4H24V9.6H0V6.4Z" fill="#FF0000"></path>
            <path d="M4.6377 1.56348C5.01113 1.61252 5.38938 1.61252 5.76282 1.56348C5.54602 2.64391 5.54602 3.75664 5.76282 4.83708C5.38938 4.78803 5.01113 4.78803 4.6377 4.83708C4.85449 3.75664 4.85449 2.64391 4.6377 1.56348Z" fill="#FF0000"></path>
            <path d="M6.83691 2.63773C6.78787 3.01116 6.78787 3.38941 6.83691 3.76285C5.75648 3.54605 4.64375 3.54605 3.56331 3.76285C3.61236 3.38941 3.61236 3.01116 3.56331 2.63773C4.64375 2.85452 5.75648 2.85452 6.83691 2.63773Z" fill="#FF0000"></path>
            <path d="M18.2373 1.56348C18.6107 1.61252 18.989 1.61252 19.3624 1.56348C19.1456 2.64391 19.1456 3.75664 19.3624 4.83708C18.989 4.78803 18.6107 4.78803 18.2373 4.83708C18.4541 3.75664 18.4541 2.64391 18.2373 1.56348Z" fill="#FF0000"></path>
            <path d="M20.4365 2.63773C20.3875 3.01116 20.3875 3.38941 20.4365 3.76285C19.3561 3.54605 18.2434 3.54605 17.1629 3.76285C17.212 3.38941 17.212 3.01116 17.1629 2.63773C18.2434 2.85452 19.3561 2.85452 20.4365 2.63773Z" fill="#FF0000"></path>
            <path d="M4.6377 11.1632C5.01113 11.2123 5.38938 11.2123 5.76282 11.1632C5.54602 12.2436 5.54602 13.3564 5.76282 14.4368C5.38938 14.3878 5.01113 14.3878 4.6377 14.4368C4.85449 13.3564 4.85449 12.2436 4.6377 11.1632Z" fill="#FF0000"></path>
            <path d="M6.83691 12.2375C6.78787 12.6109 6.78787 12.9891 6.83691 13.3626C5.75648 13.1458 4.64375 13.1458 3.56331 13.3626C3.61236 12.9891 3.61236 12.6109 3.56331 12.2375C4.64375 12.4542 5.75648 12.4542 6.83691 12.2375Z" fill="#FF0000"></path>
            <path d="M18.2373 11.1632C18.6107 11.2123 18.989 11.2123 19.3624 11.1632C19.1456 12.2436 19.1456 13.3564 19.3624 14.4368C18.989 14.3878 18.6107 14.3878 18.2373 14.4368C18.4541 13.3564 18.4541 12.2436 18.2373 11.1632Z" fill="#FF0000"></path>
            <path d="M20.4365 12.2375C20.3875 12.6109 20.3875 12.9891 20.4365 13.3626C19.3561 13.1458 18.2434 13.1458 17.1629 13.3626C17.212 12.9891 17.212 12.6109 17.1629 12.2375C18.2434 12.4542 19.3561 12.4542 20.4365 12.2375Z" fill="#FF0000"></path>
        </g>
        <defs>
            <clipPath id="clip0_657_10839">
                <rect width="24" height="16" rx="2" fill="white"></rect>
            </clipPath>
        </defs>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" id="whatsapp">
        <rect width="40" height="40" rx="20" fill="#E5EFFF"></rect>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5812 30.4962L15.8036 28.8323C16.458 29.1564 17.145 29.4119 17.8528 29.5931C18.7111 29.813 19.5936 29.9225 20.4795 29.9225C23.2716 29.9225 25.9327 28.8308 27.9152 26.8615C29.8913 24.8984 31 22.2532 31 19.4634C31 16.673 29.8925 14.027 27.9166 12.0626C25.9351 10.0927 23.2746 9 20.4826 9C17.6898 9 15.0278 10.0914 13.0446 12.061C11.0678 14.0242 9.95898 16.6696 9.95898 19.46C9.95898 20.4083 10.0878 21.3521 10.343 22.2653C10.5533 23.018 10.8486 23.7448 11.2214 24.4308L9 31L10.5812 30.4962ZM17.9997 15.5294C18.2587 16.152 18.5397 16.8275 18.5884 16.9251L18.588 16.9253C18.6378 17.0223 18.6786 17.1306 18.6913 17.252C18.7048 17.3824 18.6862 17.5216 18.6132 17.6679L18.6123 17.6688C18.5971 17.699 18.5819 17.7298 18.5675 17.7591L18.5674 17.7593C18.4845 17.9279 18.423 18.0528 18.2748 18.2243L18.2739 18.2252C18.2133 18.2947 18.1634 18.3544 18.1136 18.4139L18.1129 18.4148L18.1122 18.4157C18.0025 18.5469 17.8932 18.6776 17.7966 18.7736L17.7971 18.7741C17.7095 18.8612 17.6147 18.9556 17.7001 19.1012C17.8081 19.287 18.0802 19.7278 18.4827 20.2227C18.7315 20.5285 19.0292 20.8543 19.3676 21.1524C20.3136 21.986 21.1437 22.3424 21.5699 22.5254C21.6541 22.5616 21.7224 22.591 21.7925 22.6259C21.9021 22.6794 21.9812 22.7029 22.0388 22.696C22.0803 22.691 22.1226 22.6607 22.1717 22.6051V22.6042C22.2866 22.4743 22.5563 22.1648 22.7824 21.8892C22.9251 21.7152 23.0557 21.549 23.1298 21.4382L23.1303 21.4384C23.2779 21.2159 23.4371 21.1224 23.6197 21.1019C23.7807 21.0838 23.9308 21.1304 24.1032 21.192C24.2257 21.2358 24.5351 21.3765 24.8834 21.5404C25.4222 21.7939 26.0527 22.1007 26.2349 22.1929L26.2347 22.1932C26.282 22.216 26.3312 22.2391 26.3773 22.2607L26.379 22.2616L26.3791 22.2616C26.6433 22.3858 26.8195 22.4685 26.9213 22.6355L26.9222 22.6365C26.9892 22.7478 27.0251 23.0361 26.9798 23.4025C26.9486 23.6547 26.8813 23.9612 26.7624 24.291C26.6291 24.6599 26.2809 25.0103 25.8819 25.2876C25.4011 25.6218 24.8296 25.8598 24.4803 25.8924C24.4029 25.8996 24.3313 25.9168 24.258 25.9344L24.2576 25.9345L24.2576 25.9345C23.8262 26.0384 23.3433 26.1547 20.6745 25.1183C17.7328 23.9747 15.7976 21.1579 15.3766 20.5452L15.3759 20.5441C15.3405 20.4926 15.3166 20.4579 15.3101 20.4495L15.3082 20.4476L15.3067 20.4456L15.3073 20.4452C15.1398 20.2255 14 18.7295 14 17.1564C14 15.6568 14.7464 14.8759 15.0888 14.5177L15.0888 14.5177C15.106 14.4997 15.1218 14.4832 15.1428 14.4606C15.2867 14.3032 15.4439 14.1963 15.5964 14.1253C15.8019 14.0296 15.997 14 16.1403 14C16.2481 14 16.3622 14.0072 16.472 14.0141L16.4721 14.0141C16.5599 14.0197 16.6447 14.025 16.731 14.025C16.7516 14.025 16.7671 14.024 16.7831 14.023L16.7838 14.023L16.7838 14.023C17.0311 14.007 17.3535 13.9861 17.6452 14.6783C17.6762 14.7517 17.8341 15.1313 17.9997 15.5294Z" fill="#0062FB"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" id="telegram">
            <rect width="40" height="40" rx="20" fill="#E5EFFF"></rect>
            <g clip-path="url(#clip0_657_10826)">
                <path d="M28.214 10.9518L8.72305 18.5068C7.9387 18.8586 7.67341 19.5632 8.53344 19.9456L13.5338 21.5428L25.6238 14.0324C26.2839 13.5608 26.9597 13.6866 26.3782 14.2052L15.9945 23.6556L15.6683 27.6549C15.9704 28.2725 16.5236 28.2753 16.8764 27.9684L19.7493 25.2361L24.6694 28.9394C25.8121 29.6194 26.4339 29.1806 26.6798 27.9342L29.907 12.5742C30.242 11.0399 29.6706 10.364 28.214 10.9518Z" fill="#0062FB"></path>
            </g>
            <defs>
                <clipPath id="clip0_657_10826">
                    <rect width="22" height="22" fill="white" transform="translate(8 9)"></rect>
                </clipPath>
            </defs>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 21" id="star">
        <path d="M11.5 0L14.0819 7.9463H22.4371L15.6776 12.8574L18.2595 20.8037L11.5 15.8926L4.74047 20.8037L7.32238 12.8574L0.56285 7.9463H8.91809L11.5 0Z" fill="#F2C94C"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 14" id="lightning">
        <path d="M1 12.0769L11.173 2.8332C12.3171 1.7936 14.0639 1.7936 15.208 2.8332L24.3793 11.1668C25.5234 12.2064 27.2702 12.2064 28.4143 11.1668L37.5857 2.8332C38.7298 1.7936 40.4766 1.7936 41.6207 2.8332L50.792 11.1668C51.9361 12.2064 53.6829 12.2064 54.827 11.1668L65 1.92308" stroke="#0062FB" stroke-width="2" stroke-linecap="round"></path>
    </symbol>
</svg>


    {{ encore_entry_script_tags('front') }}
</body>
</html>
<script>

</script>