<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Discover georgia{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}travel,georgia,trips{% endblock %}">
    <meta name="description" content="{% block page_description %}Travel site{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Manrope:100,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('front') }}
</head>

<body>
<header class="header">
    <div class="wrap">
        <nav>
            <div class="logo">
                <a href="/">
                    <img height="40" src="{{ asset('build/images/logo.png') }}" alt="discover-georgia">
                    <span>Discover Georgia</span>
                </a>
            </div>
            <ul class="header__menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Туры</a></li>
                <li><a href="#">Компаниям</a></li>
            </ul>
        </nav>
        <div class="header__social-media">
            <div class="header__social-media_links">
                <a href="tel:+74951234567">+995 123-45-67</a>
                <a href="https://t.me/your_name" target="_blank"
                   title="Написать в Telegram">
                    <svg class="icon">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="https://t.me/your_name" target="_blank"
                   title="Написать в Whatsapp">
                    <svg class="icon">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
            <div class="header__currencies">
                <svg class="icon">
                    <use xlink:href="#flag-ge"></use>
                </svg>
                <a href="#">
                    GEL ^
                </a>
            </div>
        </div>

    </div>
</header>

<main id="app">

    {% block main %}

    {% endblock %}
</main>

<footer class="footer">

</footer>

<!-- Скрытый SVG-спрайт подключать отдельным файлом-->
<svg width="0" height="0" class="hidden">
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16" id="flag-ge">
        <g clip-path="url(#clip0_657_10839)">
            <path d="M0 0H24V16H0V0Z" fill="white"></path>
            <path d="M10.4 0H13.6V16H10.4V0ZM0 6.4H24V9.6H0V6.4Z" fill="#FF0000"></path>
            <path d="M4.6377 1.56348C5.01113 1.61252 5.38938 1.61252 5.76282 1.56348C5.54602 2.64391 5.54602 3.75664 5.76282 4.83708C5.38938 4.78803 5.01113 4.78803 4.6377 4.83708C4.85449 3.75664 4.85449 2.64391 4.6377 1.56348Z" fill="#FF0000"></path>
            <path d="M6.83691 2.63773C6.78787 3.01116 6.78787 3.38941 6.83691 3.76285C5.75648 3.54605 4.64375 3.54605 3.56331 3.76285C3.61236 3.38941 3.61236 3.01116 3.56331 2.63773C4.64375 2.85452 5.75648 2.85452 6.83691 2.63773Z" fill="#FF0000"></path>
            <path d="M18.2373 1.56348C18.6107 1.61252 18.989 1.61252 19.3624 1.56348C19.1456 2.64391 19.1456 3.75664 19.3624 4.83708C18.989 4.78803 18.6107 4.78803 18.2373 4.83708C18.4541 3.75664 18.4541 2.64391 18.2373 1.56348Z" fill="#FF0000"></path>
            <path d="M20.4365 2.63773C20.3875 3.01116 20.3875 3.38941 20.4365 3.76285C19.3561 3.54605 18.2434 3.54605 17.1629 3.76285C17.212 3.38941 17.212 3.01116 17.1629 2.63773C18.2434 2.85452 19.3561 2.85452 20.4365 2.63773Z" fill="#FF0000"></path>
            <path d="M4.6377 11.1632C5.01113 11.2123 5.38938 11.2123 5.76282 11.1632C5.54602 12.2436 5.54602 13.3564 5.76282 14.4368C5.38938 14.3878 5.01113 14.3878 4.6377 14.4368C4.85449 13.3564 4.85449 12.2436 4.6377 11.1632Z" fill="#FF0000"></path>
            <path d="M6.83691 12.2375C6.78787 12.6109 6.78787 12.9891 6.83691 13.3626C5.75648 13.1458 4.64375 13.1458 3.56331 13.3626C3.61236 12.9891 3.61236 12.6109 3.56331 12.2375C4.64375 12.4542 5.75648 12.4542 6.83691 12.2375Z" fill="#FF0000"></path>
            <path d="M18.2373 11.1632C18.6107 11.2123 18.989 11.2123 19.3624 11.1632C19.1456 12.2436 19.1456 13.3564 19.3624 14.4368C18.989 14.3878 18.6107 14.3878 18.2373 14.4368C18.4541 13.3564 18.4541 12.2436 18.2373 11.1632Z" fill="#FF0000"></path>
            <path d="M20.4365 12.2375C20.3875 12.6109 20.3875 12.9891 20.4365 13.3626C19.3561 13.1458 18.2434 13.1458 17.1629 13.3626C17.212 12.9891 17.212 12.6109 17.1629 12.2375C18.2434 12.4542 19.3561 12.4542 20.4365 12.2375Z" fill="#FF0000"></path>
        </g>
        <defs>
            <clipPath id="clip0_657_10839">
                <rect width="24" height="16" rx="2" fill="white"></rect>
            </clipPath>
        </defs>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" id="whatsapp">
        <rect width="40" height="40" rx="20" fill="#E5EFFF"></rect>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5812 30.4962L15.8036 28.8323C16.458 29.1564 17.145 29.4119 17.8528 29.5931C18.7111 29.813 19.5936 29.9225 20.4795 29.9225C23.2716 29.9225 25.9327 28.8308 27.9152 26.8615C29.8913 24.8984 31 22.2532 31 19.4634C31 16.673 29.8925 14.027 27.9166 12.0626C25.9351 10.0927 23.2746 9 20.4826 9C17.6898 9 15.0278 10.0914 13.0446 12.061C11.0678 14.0242 9.95898 16.6696 9.95898 19.46C9.95898 20.4083 10.0878 21.3521 10.343 22.2653C10.5533 23.018 10.8486 23.7448 11.2214 24.4308L9 31L10.5812 30.4962ZM17.9997 15.5294C18.2587 16.152 18.5397 16.8275 18.5884 16.9251L18.588 16.9253C18.6378 17.0223 18.6786 17.1306 18.6913 17.252C18.7048 17.3824 18.6862 17.5216 18.6132 17.6679L18.6123 17.6688C18.5971 17.699 18.5819 17.7298 18.5675 17.7591L18.5674 17.7593C18.4845 17.9279 18.423 18.0528 18.2748 18.2243L18.2739 18.2252C18.2133 18.2947 18.1634 18.3544 18.1136 18.4139L18.1129 18.4148L18.1122 18.4157C18.0025 18.5469 17.8932 18.6776 17.7966 18.7736L17.7971 18.7741C17.7095 18.8612 17.6147 18.9556 17.7001 19.1012C17.8081 19.287 18.0802 19.7278 18.4827 20.2227C18.7315 20.5285 19.0292 20.8543 19.3676 21.1524C20.3136 21.986 21.1437 22.3424 21.5699 22.5254C21.6541 22.5616 21.7224 22.591 21.7925 22.6259C21.9021 22.6794 21.9812 22.7029 22.0388 22.696C22.0803 22.691 22.1226 22.6607 22.1717 22.6051V22.6042C22.2866 22.4743 22.5563 22.1648 22.7824 21.8892C22.9251 21.7152 23.0557 21.549 23.1298 21.4382L23.1303 21.4384C23.2779 21.2159 23.4371 21.1224 23.6197 21.1019C23.7807 21.0838 23.9308 21.1304 24.1032 21.192C24.2257 21.2358 24.5351 21.3765 24.8834 21.5404C25.4222 21.7939 26.0527 22.1007 26.2349 22.1929L26.2347 22.1932C26.282 22.216 26.3312 22.2391 26.3773 22.2607L26.379 22.2616L26.3791 22.2616C26.6433 22.3858 26.8195 22.4685 26.9213 22.6355L26.9222 22.6365C26.9892 22.7478 27.0251 23.0361 26.9798 23.4025C26.9486 23.6547 26.8813 23.9612 26.7624 24.291C26.6291 24.6599 26.2809 25.0103 25.8819 25.2876C25.4011 25.6218 24.8296 25.8598 24.4803 25.8924C24.4029 25.8996 24.3313 25.9168 24.258 25.9344L24.2576 25.9345L24.2576 25.9345C23.8262 26.0384 23.3433 26.1547 20.6745 25.1183C17.7328 23.9747 15.7976 21.1579 15.3766 20.5452L15.3759 20.5441C15.3405 20.4926 15.3166 20.4579 15.3101 20.4495L15.3082 20.4476L15.3067 20.4456L15.3073 20.4452C15.1398 20.2255 14 18.7295 14 17.1564C14 15.6568 14.7464 14.8759 15.0888 14.5177L15.0888 14.5177C15.106 14.4997 15.1218 14.4832 15.1428 14.4606C15.2867 14.3032 15.4439 14.1963 15.5964 14.1253C15.8019 14.0296 15.997 14 16.1403 14C16.2481 14 16.3622 14.0072 16.472 14.0141L16.4721 14.0141C16.5599 14.0197 16.6447 14.025 16.731 14.025C16.7516 14.025 16.7671 14.024 16.7831 14.023L16.7838 14.023L16.7838 14.023C17.0311 14.007 17.3535 13.9861 17.6452 14.6783C17.6762 14.7517 17.8341 15.1313 17.9997 15.5294Z" fill="#0062FB"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" id="telegram">
            <rect width="40" height="40" rx="20" fill="#E5EFFF"></rect>
            <g clip-path="url(#clip0_657_10826)">
                <path d="M28.214 10.9518L8.72305 18.5068C7.9387 18.8586 7.67341 19.5632 8.53344 19.9456L13.5338 21.5428L25.6238 14.0324C26.2839 13.5608 26.9597 13.6866 26.3782 14.2052L15.9945 23.6556L15.6683 27.6549C15.9704 28.2725 16.5236 28.2753 16.8764 27.9684L19.7493 25.2361L24.6694 28.9394C25.8121 29.6194 26.4339 29.1806 26.6798 27.9342L29.907 12.5742C30.242 11.0399 29.6706 10.364 28.214 10.9518Z" fill="#0062FB"></path>
            </g>
            <defs>
                <clipPath id="clip0_657_10826">
                    <rect width="22" height="22" fill="white" transform="translate(8 9)"></rect>
                </clipPath>
            </defs>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 21" id="star">
        <path d="M11.5 0L14.0819 7.9463H22.4371L15.6776 12.8574L18.2595 20.8037L11.5 15.8926L4.74047 20.8037L7.32238 12.8574L0.56285 7.9463H8.91809L11.5 0Z" fill="#F2C94C"></path>
    </symbol>
    <symbol width="64" height="12" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 14" id="lightning">
        <path d="M1 12.0769L11.173 2.8332C12.3171 1.7936 14.0639 1.7936 15.208 2.8332L24.3793 11.1668C25.5234 12.2064 27.2702 12.2064 28.4143 11.1668L37.5857 2.8332C38.7298 1.7936 40.4766 1.7936 41.6207 2.8332L50.792 11.1668C51.9361 12.2064 53.6829 12.2064 54.827 11.1668L65 1.92308" stroke="#0062FB" stroke-width="2" stroke-linecap="round"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161 146" id="arrow">
        <path d="M7.64645 145.354C7.84171 145.549 8.15829 145.549 8.35355 145.354L11.5355 142.172C11.7308 141.976 11.7308 141.66 11.5355 141.464C11.3403 141.269 11.0237 141.269 10.8284 141.464L8 144.293L5.17157 141.464C4.97631 141.269 4.65973 141.269 4.46447 141.464C4.2692 141.66 4.2692 141.976 4.46447 142.172L7.64645 145.354ZM160 1.5C160.276 1.5 160.5 1.27614 160.5 1C160.5 0.723858 160.276 0.5 160 0.5V1.5ZM8.5 145C8.5 143.635 8.52525 142.273 8.57523 140.916L7.57591 140.879C7.52548 142.249 7.5 143.622 7.5 145H8.5ZM9.1718 132.788C9.46959 130.08 9.86428 127.391 10.3516 124.723L9.36792 124.544C8.87636 127.234 8.47822 129.947 8.17779 132.679L9.1718 132.788ZM12.0947 116.759C12.7669 114.124 13.5285 111.514 14.375 108.929L13.4247 108.618C12.5714 111.223 11.8036 113.855 11.1257 116.512L12.0947 116.759ZM17.1626 101.264C18.1716 98.7427 19.2607 96.2498 20.4259 93.7878L19.522 93.36C18.3483 95.8402 17.2509 98.3518 16.2342 100.893L17.1626 101.264ZM24.1328 86.5192C25.4365 84.1371 26.8109 81.7878 28.252 79.4738L27.4032 78.9451C25.9524 81.2748 24.5684 83.6402 23.2556 86.0391L24.1328 86.5192ZM32.7536 72.6642C34.312 70.4387 35.932 68.2501 37.6094 66.1008L36.8211 65.4855C35.1332 67.6482 33.5029 69.8507 31.9345 72.0906L32.7536 72.6642ZM42.7934 59.7921C44.5712 57.735 46.4018 55.719 48.2811 53.7464L47.557 53.0566C45.6667 55.0408 43.8253 57.0687 42.0368 59.1382L42.7934 59.7921ZM54.0522 47.9692C56.0209 46.0891 58.034 44.2544 60.0877 42.4673L59.4313 41.7129C57.366 43.5101 55.3415 45.3552 53.3616 47.246L54.0522 47.9692ZM66.3701 37.2481C68.5058 35.5545 70.6783 33.911 72.8834 32.3198L72.2982 31.5089C70.0809 33.1089 67.8964 34.7615 65.7487 36.4645L66.3701 37.2481ZM79.613 27.6919C81.8963 26.197 84.2085 24.7574 86.5455 23.3755L86.0365 22.5147C83.6863 23.9044 81.3612 25.352 79.0652 26.8553L79.613 27.6919ZM93.6679 19.3834C96.0821 18.1032 98.5175 16.8846 100.97 15.7299L100.544 14.8252C98.077 15.9867 95.6274 17.2124 93.1994 18.5L93.6679 19.3834ZM108.443 12.4313C110.973 11.3879 113.517 10.4136 116.069 9.51074L115.736 8.56799C113.167 9.47661 110.608 10.457 108.061 11.5067L108.443 12.4313ZM123.835 6.99296C126.463 6.21884 129.094 5.52238 131.724 4.90626L131.496 3.93262C128.847 4.55313 126.198 5.25441 123.553 6.03373L123.835 6.99296ZM139.715 3.28298C142.416 2.81905 145.112 2.44319 147.795 2.15832L147.69 1.1639C144.984 1.45111 142.268 1.82995 139.546 2.29741L139.715 3.28298ZM155.933 1.57477C157.294 1.52505 158.649 1.5 160 1.5V0.5C158.637 0.5 157.269 0.525284 155.897 0.575442L155.933 1.57477ZM7.29289 145.707C7.68342 146.098 8.31658 146.098 8.70711 145.707L15.0711 139.343C15.4616 138.953 15.4616 138.319 15.0711 137.929C14.6805 137.538 14.0474 137.538 13.6569 137.929L8 143.586L2.34315 137.929C1.95262 137.538 1.31946 137.538 0.928932 137.929C0.538408 138.319 0.538408 138.953 0.928932 139.343L7.29289 145.707ZM160 2C160.552 2 161 1.55228 161 1C161 0.447715 160.552 0 160 0V2ZM9 145C9 143.641 9.02513 142.286 9.07489 140.935L7.07625 140.861C7.02559 142.236 7 143.616 7 145H9ZM9.66881 132.843C9.96528 130.147 10.3582 127.47 10.8435 124.813L8.87606 124.454C8.3824 127.156 7.98253 129.88 7.68079 132.624L9.66881 132.843ZM12.5791 116.883C13.2486 114.259 14.007 111.659 14.8502 109.085L12.9496 108.462C12.0928 111.078 11.3219 113.72 10.6412 116.388L12.5791 116.883ZM17.6269 101.45C18.6319 98.9382 19.717 96.4546 20.8778 94.0017L19.0701 93.1462C17.892 95.6353 16.7906 98.1564 15.77 100.707L17.6269 101.45ZM24.5714 86.7592C25.8705 84.3855 27.2402 82.0444 28.6765 79.7381L26.9788 78.6808C25.5231 81.0183 24.1344 83.3918 22.817 85.799L24.5714 86.7592ZM33.1632 72.951C34.7165 70.7327 36.3314 68.551 38.0036 66.4084L36.4269 65.1779C34.7338 67.3473 33.0984 69.5567 31.5249 71.8038L33.1632 72.951ZM43.1717 60.119C44.9441 58.0682 46.7693 56.0582 48.6431 54.0913L47.195 52.7117C45.2992 54.7017 43.4524 56.7356 41.6585 58.8112L43.1717 60.119ZM54.3976 48.3308C56.3606 46.4561 58.368 44.6266 60.4159 42.8445L59.103 41.3357C57.032 43.1379 55.0018 44.9882 53.0162 46.8844L54.3976 48.3308ZM66.6807 37.6398C68.8106 35.951 70.977 34.312 73.1759 32.7252L72.0056 31.1034C69.7822 32.7078 67.5917 34.365 65.4381 36.0727L66.6807 37.6398ZM79.8869 28.1102C82.1638 26.6194 84.4695 25.1839 86.8 23.8059L85.782 22.0843C83.4253 23.4779 81.0937 24.9296 78.7914 26.437L79.8869 28.1102ZM93.9022 19.8252C96.3094 18.5486 98.7377 17.3335 101.183 16.1823L100.331 14.3728C97.8568 15.5377 95.4001 16.767 92.9652 18.0582L93.9022 19.8252ZM108.633 12.8935C111.156 11.8534 113.692 10.8821 116.236 9.98211L115.569 8.09662C112.992 9.00812 110.425 9.99159 107.871 11.0445L108.633 12.8935ZM123.977 7.47257C126.595 6.70105 129.217 6.00701 131.838 5.39309L131.382 3.4458C128.723 4.0685 126.065 4.7722 123.411 5.55412L123.977 7.47257ZM139.799 3.77577C142.491 3.3136 145.175 2.93924 147.848 2.65552L147.637 0.666696C144.92 0.955063 142.193 1.3354 139.461 1.80463L139.799 3.77577ZM155.951 2.07444C157.306 2.02494 158.656 2 160 2V0C158.631 5.96046e-08 157.257 0.0253982 155.878 0.0757756L155.951 2.07444Z" fill="#898998"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 42" id="USD">
        <path d="M12.3742 41.2341V38.3361C9.49018 38.2801 7.34818 37.3421 5.94818 35.5221C4.54818 33.7021 3.77818 31.3501 3.63818 28.4661L7.83818 27.3321C7.92218 28.5361 8.10418 29.6981 8.38418 30.8181C8.69218 31.9381 9.18218 32.8621 9.85418 33.5901C10.5262 34.2901 11.4642 34.6401 12.6682 34.6401C13.9002 34.6401 14.8242 34.3041 15.4402 33.6321C16.0842 32.9321 16.4062 31.9381 16.4062 30.6501C16.4062 29.1101 16.0562 27.8781 15.3562 26.9541C14.6562 26.0021 13.7742 25.0501 12.7102 24.0981L6.99818 19.0581C6.27018 18.3861 5.65418 17.6861 5.15018 16.9581C4.67418 16.2301 4.31018 15.4321 4.05818 14.5641C3.83418 13.6681 3.72218 12.6601 3.72218 11.5401C3.72218 9.10407 4.40818 7.21407 5.78018 5.87007C7.15218 4.49807 9.01418 3.77007 11.3662 3.68607V0.87207H12.8362V3.68607C14.0122 3.77007 15.0342 4.02207 15.9022 4.44207C16.7982 4.83407 17.5402 5.39407 18.1282 6.12207C18.7442 6.85007 19.2202 7.74607 19.5562 8.81007C19.9202 9.84607 20.1582 11.0641 20.2702 12.4641L16.2382 13.5561C16.1542 12.4361 15.9862 11.4001 15.7342 10.4481C15.4822 9.46807 15.0342 8.68407 14.3902 8.09607C13.7742 7.50807 12.8782 7.25607 11.7022 7.34007C10.5262 7.42407 9.60218 7.76007 8.93018 8.34807C8.28618 8.93607 7.96418 9.84607 7.96418 11.0781C7.96418 12.1141 8.13218 12.9681 8.46818 13.6401C8.83218 14.2841 9.40618 14.9701 10.1902 15.6981L15.9442 20.7381C16.7842 21.4941 17.5682 22.3481 18.2962 23.3001C19.0522 24.2241 19.6542 25.2601 20.1022 26.4081C20.5782 27.5561 20.8162 28.8441 20.8162 30.2721C20.8162 31.8121 20.5222 33.1701 19.9342 34.3461C19.3462 35.4941 18.5202 36.4041 17.4562 37.0761C16.4202 37.7481 15.2022 38.1541 13.8022 38.2941V41.2341H12.3742Z" fill="#1C1D20"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 42" id="RUB">
        <path d="M5.52778 38V3.97998H13.9698C16.0138 3.97998 17.6378 4.39998 18.8418 5.23998C20.0738 6.05198 20.9698 7.24198 21.5298 8.80998C22.0898 10.35 22.3698 12.226 22.3698 14.438C22.3698 16.454 22.0478 18.204 21.4038 19.688C20.7878 21.144 19.8638 22.278 18.6318 23.09C17.3998 23.874 15.8598 24.266 14.0118 24.266H10.2738V38H5.52778ZM3.17578 30.986V28.466H19.2618V30.986H3.17578ZM10.2738 20.864H12.4578C13.8298 20.864 14.9078 20.682 15.6918 20.318C16.4758 19.954 17.0358 19.31 17.3718 18.386C17.7078 17.462 17.8758 16.16 17.8758 14.48C17.8758 12.576 17.7498 11.12 17.4978 10.112C17.2738 9.07598 16.7838 8.36198 16.0278 7.96998C15.2718 7.57798 14.0958 7.38198 12.4998 7.38198H10.2738V20.864Z" fill="#1C1D20"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 42" id="GEL">
        <path d="M2.31006 34.724H24.5281V38H2.31006V34.724ZM17.8921 36.53C16.3801 36.53 14.8961 36.334 13.4401 35.942C11.9841 35.55 10.6121 34.962 9.32406 34.178C8.03606 33.394 6.90206 32.414 5.92206 31.238C4.94206 30.062 4.17206 28.704 3.61206 27.164C3.05206 25.624 2.77206 23.888 2.77206 21.956C2.77206 19.772 3.05206 17.826 3.61206 16.118C4.20006 14.382 5.05406 12.912 6.17406 11.708C7.29406 10.504 8.68006 9.59402 10.3321 8.97802C11.9841 8.33402 13.9021 8.01202 16.0861 8.01202C17.6261 8.01202 19.0261 8.12402 20.2861 8.34802C21.5461 8.54402 22.7361 8.85202 23.8561 9.27202V12.506C22.6521 12.114 21.4481 11.82 20.2441 11.624C19.0681 11.4 17.8641 11.288 16.6321 11.288C14.9801 11.288 13.5241 11.526 12.2641 12.002C11.0041 12.45 9.94006 13.136 9.07206 14.06C8.23206 14.984 7.58806 16.132 7.14006 17.504C6.72006 18.848 6.51006 20.402 6.51006 22.166C6.51006 24.014 6.80406 25.708 7.39206 27.248C7.98006 28.76 8.80606 30.076 9.87006 31.196C10.9621 32.316 12.2781 33.184 13.8181 33.8C15.3581 34.416 17.0661 34.724 18.9421 34.724L17.8921 36.53ZM12.0961 3.77002H14.6161V20.654H12.0961V3.77002ZM17.9761 3.77002H20.4961V20.654H17.9761V3.77002Z" fill="#1C1D20"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 42" id="EUR">
        <path d="M13.1721 38.378C10.7641 38.378 8.88808 37.874 7.54408 36.866C6.22808 35.858 5.30408 34.5 4.77208 32.792C4.26808 31.084 4.01608 29.18 4.01608 27.08V25.358H1.58008V22.88H4.01608V18.68H1.58008V16.16H4.01608V15.068C4.01608 12.772 4.26808 10.77 4.77208 9.06204C5.30408 7.35403 6.22808 6.03803 7.54408 5.11403C8.88808 4.16203 10.7641 3.68604 13.1721 3.68604C15.3001 3.68604 16.9801 4.07804 18.2121 4.86204C19.4721 5.64603 20.3681 6.76603 20.9001 8.22203C21.4601 9.67804 21.7401 11.428 21.7401 13.472V15.236H17.2461V13.766C17.2461 12.506 17.1761 11.4 17.0361 10.448C16.9241 9.46803 16.5881 8.71203 16.0281 8.18003C15.4681 7.64803 14.5301 7.38204 13.2141 7.38204C11.8701 7.38204 10.8901 7.67604 10.2741 8.26404C9.65808 8.82404 9.25208 9.63604 9.05608 10.7C8.88808 11.736 8.80408 12.954 8.80408 14.354V16.16H13.0041V18.68H8.80408V22.88H13.0041V25.358H8.80408V27.836C8.80408 29.544 8.94408 30.902 9.22408 31.91C9.50408 32.89 9.96608 33.59 10.6101 34.01C11.2541 34.43 12.1221 34.64 13.2141 34.64C14.5021 34.64 15.4261 34.36 15.9861 33.8C16.5461 33.212 16.8961 32.414 17.0361 31.406C17.1761 30.398 17.2461 29.222 17.2461 27.878V26.282H21.7401V27.878C21.7401 29.95 21.4881 31.784 20.9841 33.38C20.4801 34.948 19.6121 36.18 18.3801 37.076C17.1481 37.944 15.4121 38.378 13.1721 38.378Z" fill="#1C1D20"></path>
    </symbol>
</svg>


    {{ encore_entry_script_tags('front') }}
</body>
</html>
<script>

</script>