<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}Discover georgia{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}travel,georgia,trips{% endblock %}">
    <meta name="description" content="{% block page_description %}Travel site{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/icons/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    {{ encore_entry_link_tags('front') }}
</head>

<body>
<header class="header">
    <div class="wrap">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="{{ asset('build/images/icons/logo.png') }}" alt="logo" class="icon">
                    <span>Discover Georgia</span>
                </a>
            </div>
            <ul class="header__menu">
                <li><a href="{{path('main-page')}}">О нас</a></li>
                <li><a href="{{path('tour-list')}}">Туры</a></li>
                <li><a href="{{path('corporate')}}">Компаниям</a></li>
            </ul>
        </nav>
        <div class="header__social-media">
            <div class="header__social-media_links">
                <a href="{{ social.getTelegram }}" target="_blank"
                   title="Написать в Telegram">
                    <svg class="icon">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="{{ social.getWhatsapp }}" target="_blank"
                   title="Написать в Whatsapp">
                    <svg class="icon">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
            <div class="header__currencies" style="display: none;">
                <svg class="icon">
                    <use xlink:href="#flag-ge"></use>
                </svg>
                <a href="#">
                    GEL ^
                </a>
            </div>
        </div>
        <div class="header__hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <div class="menu__box">
                <ul class="menu__list">
                    <li><a class="menu__item" href="{{path('main-page')}}">О нас</a></li>
                    <li><a class="menu__item" href="{{path('tour-list')}}">Туры</a></li>
                    <li><a class="menu__item" href="{{path('corporate')}}">Компаниям</a></li>
                </ul>
                <div class="menu__divider"></div>
                <div class="header__currencies" style="display: none">
                    <svg class="icon">
                        <use xlink:href="#flag-ge"></use>
                    </svg>
                    <a href="#">
                        GEL ^
                    </a>
                </div>
                <div class="menu__social-media">
                    <div class="menu__social-media__links">
                        <a href="{{ social.getTelegram }}" target="_blank"
                           title="Написать в Telegram">
                            <svg class="icon">
                                <use xlink:href="#telegram-black"></use>
                            </svg>
                        </a>
                        <a href="{{ social.getWhatsapp }}" target="_blank"
                           title="Написать в Whatsapp">
                            <svg class="icon">
                                <use xlink:href="#whatsapp-black"></use>
                            </svg>
                        </a>
                        <a href="{{ social.getInstagram }}" target="_blank"
                           title="Написать в Instagram">
                            <svg class="icon">
                                <use xlink:href="#instagram-black"></use>
                            </svg>
                        </a>
                        <a href="{{ social.getYoutube }}" target="_blank"
                           title="Написать в YouTube">
                            <svg class="icon">
                                <use xlink:href="#youtube-black"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main id="app">
    {% block main %}

    {% endblock %}
</main>

<footer class="footer">
    <div class="footer__top-content">
        <div class="wrap">
            <div class="footer__contacts">
                <span>Мы в соцсетях</span>
                <div class="footer__contacts-links">
                    <a href="{{ social.getTelegram }}" target="_blank"
                       title="Написать в Telegram">
                        <svg class="icon">
                            <use xlink:href="#telegram-black"></use>
                        </svg>
                    </a>
                    <a href="{{ social.getWhatsapp }}" target="_blank"
                       title="Написать в Whatsapp">
                        <svg class="icon">
                            <use xlink:href="#whatsapp-black"></use>
                        </svg>
                    </a>
                    <a href="{{ social.getInstagram }}" target="_blank"
                       title="Написать в Instagram">
                        <svg class="icon">
                            <use xlink:href="#instagram-black"></use>
                        </svg>
                    </a>
                    <a href="{{ social.getYoutube }}" target="_blank"
                       title="Написать в YouTube">
                        <svg class="icon">
                            <use xlink:href="#youtube-black"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__contacts">
                <span>Напишите нам</span>
                <div class="footer__contacts-email">
                    <svg class="icon">
                      <use xlink:href="#email"></use>
                    </svg>
                    <a href="mailto:georgia.dicover@gmail.com">georgia.dicover@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__info">
        <div class="wrap">
            <div class="footer__rules">
                <span>© 2023. Все права защищены.</span>
                <a href="{{path('privacy')}}">Пользовательское соглашение</a>
            </div>
            <a href="https://www.linkedin.com/in/kseniia-malysheva-642177252" target="_blank" class="footer__designer">Designed by Kseniia Malysheva</a>
        </div>
    </div>
</footer>
    {% include 'svg-sprite.html.twig' %}

    {{ encore_entry_script_tags('front') }}
</body>
</html>
<script>

</script>