{% extends 'base.html.twig' %}

{% block title %}Gamardjoba!{% endblock %}
{% block page_keywords %}Gamardjoba!{% endblock %}
{% block page_description %}Gamardjoba!{% endblock %}

{% block main %}

    <section class="main">
        <div class="main__banner">
            <h1 class="main__banner-welcome">
                каждый день, <br>
                как новое приключение
            </h1>
            <p class="main__banner-title">
                Открывайте Грузию, пробуйте лучше национальные блюда <br>
                и встречайте закаты вместе с нами в авторских турах
            </p>
            <div class="main__buttons">
                <a class="main__buttons_chose-tour" href="#">ВЫБРАТЬ ТУР</a>
                <a class="main__buttons_do-your" href="#">СОЗДАТЬ СВОЙ</a>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="wrap">
            <div class="welcome__info">
                <h2>ДАВАЙТЕ ЗНАКОМИТЬСЯ!</h2>
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
                <p>Откройте для себя Грузию вместе с нами — командой Discovery Georgia.</p>
                <p>С 2016 года мы создаем незабываемые впечатления, грузинскую атмосферу, прекрасные фотографии и
                    мероприятия в лучших традициях грузинских застолий.</p>
            </div>
            <div class="welcome__photo">
                <img src="{{ asset('build/images/welcome.png') }}" alt="welcome">
            </div>
            <svg class="icon arrow-icon">
                <use xlink:href="#arrow"></use>
            </svg>
        </div>
    </section>
    <section class="trailer">
        <Trailer image="{{ asset('build/images/trailer.jpg') }}" :video-id="'hB4kS3Ji-T0'" />
    </section>
    <section class="advantages">
        <div class="wrap">
            <div class="advantages__header">
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
                <h2>ПОЧЕМУ С НАМИ КЛАССНО?</h2>
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
            </div>
            <div class="advantages__cards">

                <article class="advantages__card">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Удобство передвижения
                        </h3>
                        <p class="advantages__card-description">
                            Наш автопарк состоит только из комфортабельных машин и больших автобусов, подходящих для
                            любого количества пассажиров.
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_1.jpg') }}" alt="Удобство передвижения">
                </article>

                <article class="advantages__card reverse">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Местные гиды
                        </h3>
                        <p class="advantages__card-description">
                            Они знают каждый уголок Грузии и с радостью помогут вам почувствовать атмосферу родной страны во время вашего тура.
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_2.jpg') }}" alt="Удобство передвижения">
                </article>

                <article class="advantages__card">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Свой маршрут
                        </h3>
                        <p class="advantages__card-description">
                            Сделайте свой отдых насыщенным и интересным, выбрав места, которые вам действительно хочется посетить. А наша команда поможет вам в этом!
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_3.jpg') }}" alt="Удобство передвижения">
                </article>

                <article class="advantages__card">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Свой фотограф
                        </h3>
                        <p class="advantages__card-description">
                            Сделайте свое путешествие по-настоящему незабываемым - заказывайте фотосессию с нашими крутыми фотографами!
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_4.jpg') }}" alt="Удобство передвижения">
                </article>

                <article class="advantages__card reverse">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Незабываемые впечатления
                        </h3>
                        <p class="advantages__card-description">
                            Пикник, яхтинг, рафтинг, застолье, рыбалка - мы все организуем все, что вы задумаете! Нет ограничений, только незабываемые впечатления.
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_5.jpg') }}" alt="Удобство передвижения">
                </article>

                <article class="advantages__card">
                    <div class="advantages__card-info">
                        <h3 class="advantages__card-title">
                            Крутое видео
                        </h3>
                        <p class="advantages__card-description">
                            Дополните свой тур уникальными кадрами. У нас есть квадрокоптер, с помощью которого можно снять потрясающее видео вашего путешествия!
                        </p>
                    </div>
                    <img src="{{ asset('build/images/advantages_6.jpg') }}" alt="Удобство передвижения">
                </article>

            </div>
        </div>
    </section>
    <section class="trips">
        <div class="wrap">
            <div class="trips__header">
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
                <h2>ВЫБЕРИТЕ ТУР, А ДАЛЬШЕ ДЕЛО ЗА НАМИ</h2>
            </div>
            <div class="trips-list">

                <article class="trip">
                    <img src="{{ asset('build/images/simple.jpg') }}" alt="photo trip">
                    <div class="trip__info">
                        <h3 class="trip__info-title">
                            Экскурсия от шефа
                        </h3>
                        <p class="trip__info-description">
                            Хотите интересное путешествие, но нет времени выбирать туры? Доверьтесь нашим гидам! Укажите, что вам не нравится или что вас интересует, и мы устроим вам незабываемую экскурсию-сюрприз!
                        </p>
                        <div class="trip__footer">
                            <h5 class="trip__footer-amount">
                                По запросу
                            </h5>
                            <div class="trip__footer-book">
                                <div class="trip__footer-duration">
                                    Длительность:
                                    <span><i class="fa fa-regular fa-clock"></i> 7 часов</span>
                                </div>
                                <a href="#">Забронировать</a>
                            </div>
                        </div>
                    </div>
                    <div class="trip__tags">
                            <span class="starts tag"><i class="fa fa-sharp fa-solid fa-star"></i>4.9</span>
                            <span class="tag">Необычное</span>
                            <span class="tag">Природа</span>
                    </div>
                </article>

                <article class="trip">
                    <img src="{{ asset('build/images/simple.jpg') }}" alt="photo trip">
                    <div class="trip__info">
                        <h3 class="trip__info-title">
                            Рафтинг по горной реке
                        </h3>
                        <p class="trip__info-description">
                            На рафте вы покорите красивейшую реку Риони, любуясь окружающими пейзажами со скалами и водопадами, а я обеспечу безопасность и комфорт. Помимо потрясающего приключенческого опыта, еще до сплава вы побываете на горном озере Шаори, попробуете местные вкусности и прикоснетесь к старине в монастыре Гелати. Обещаю — этот день подарит вам новые знания и вихрь эмоций и точно украсит путешествие по радушной Грузии! </p>
                        <div class="trip__footer">
                            <h5 class="trip__footer-amount">
                                500 <svg class="icon currency">
                                    <use xlink:href="#EUR"></use>
                                </svg>
                            </h5>
                            <div class="trip__footer-book">
                                <div class="trip__footer-duration">
                                    Длительность:
                                    <span><i class="fa fa-regular fa-clock"></i> 2 недели</span>
                                </div>
                                <a href="#">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="trip">
                    <img src="{{ asset('build/images/simple.jpg') }}" alt="photo trip">
                    <div class="trip__info">
                        <h3 class="trip__info-title">
                            Древняя Мцхета и Уплисцихе
                        </h3>
                        <p class="trip__info-description">
                            Мы совершим путешествие в доисторическое прошлое Грузии. Вы посетите древние храмы, монастыри и крепости, которые сыграли важную роль в истории страны, узнаете о зарождении христианства в Грузии и познакомитесь с культурой и обычаями народа. </p>
                        <div class="trip__footer">
                            <h5 class="trip__footer-amount">
                                500 <svg class="icon currency">
                                    <use xlink:href="#USD"></use>
                                </svg>
                            </h5>
                            <div class="trip__footer-book">
                                <div class="trip__footer-duration">
                                    Длительность:
                                    <span><i class="fa fa-regular fa-clock"></i> 3 часа</span>
                                </div>
                                <a href="#">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="trip">
                    <img src="{{ asset('build/images/simple.jpg') }}" alt="photo trip">
                    <div class="trip__info">
                        <h3 class="trip__info-title">
                            Гамарджоба, Кахетия, винный край!
                        </h3>
                        <p class="trip__info-description">
                            Кахетия из тех мест, которым сложно подобрать эпитеты... Этот край надо видеть своими глазами, чувствовать многовековые традиции и пробовать вино. Просторы Алазанской долины, древние камни крепостной стены и монастыря Бодбе, сцены из «Мимино», резные балконы Сигнахи, история княжеского рода, дегустации и секреты виноделия — приглашаю в путешествие в радушную восточную Грузию!</p>
                        <div class="trip__footer">
                            <h5 class="trip__footer-amount">
                                455  <svg class="icon currency">
                                        <use xlink:href="#GEL"></use>
                                    </svg>
                            </h5>
                            <div class="trip__footer-book">
                                <div class="trip__footer-duration">
                                    Длительность:
                                    <span><i class="fa fa-regular fa-clock"></i> 7 часов</span>
                                </div>
                                <a href="#">Забронировать</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="trip-builder">
    </section>
    <section class="gallery">
        <div class="wrap">
            <div class="gallery__header">
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
                <h2>ФОТО НАШИХ ПУТЕШЕСТВИЙ</h2>
                <svg class="icon">
                    <use xlink:href="#lightning"></use>
                </svg>
            </div>
            <div class="gallery__filter">
                <a href="#" class="gallery__filter-link active">Все</a>
                <a href="#" class="gallery__filter-link">Тбилиси</a>
                <a href="#" class="gallery__filter-link">Мцхета</a>
                <a href="#" class="gallery__filter-link">Казбеги</a>
                <a href="#" class="gallery__filter-link">Боржоми</a>
                <a href="#" class="gallery__filter-link">Гастрономия</a>
                <a href="#" class="gallery__filter-link">Необычное</a>
            </div>
            <Gallery />
        </div>
    </section>
    <section class="feedback">

    </section>
{% endblock %}