<div class="trips-list">
    {% for tour in tours %}
        <article class="trip">
            <img class="trip__image" src="{{ asset(tour.mainImage) }}" alt="photo trip">
            <div class="trip__info">
                <h3 class="trip__info-title">
                    {{ tour.name }}
                </h3>
                <p class="trip__info-description">
                    {{ tour.getAdaptiveDescription }}
                </p>
                <div class="trip__footer">
                    <div class="trip__footer-book">
                        <h5 class="trip__footer-amount">
                            {{ tour.price }}
                            <svg class="icon currency">
                                <use xlink:href="#GEL"></use>
                            </svg>
                        </h5>

                        <div class="trip__footer-duration">
                            Длительность:
                            <span><i class="fa fa-regular fa-clock"></i> {{ tour.longTime }}</span>
                        </div>
                    </div>
                    <a class="trip__footer-btn" href="{{ path('tour-view',{'slug': tour.slug }) }}">Подробнее</a>
                </div>
            </div>
            <div class="trip__tags">
                <span class="starts tag"><i class="fa fa-sharp fa-solid fa-star"></i>{{ tour.getAssessment }}</span>
                {% for category in tour.categories %}
                    <span class="tag">{{ category.name }}</span>
                {% endfor %}
            </div>
        </article>
    {% endfor %}
</div>