{% extends 'base.html.twig' %}

{% block title %} {{ tour.name }} {% endblock %}
{% block page_keywords %} {{ tour.keyWords ?? 'test' }} {% endblock %}
{% block page_description %} {{ tour.description }} {% endblock %}

{% block main %}
    <header class="tour__header" style="background-image: url({{ asset(tour.mainImage) }})">
        <div class="wrap">
            <h1>{{ tour.name }}</h1>
            <p class="tour__title">{{ tour.title }}</p>
            <div class="tour__tags">
                <span class="starts tag"><i class="fa fa-sharp fa-solid fa-star"></i>{{ tour.getAssessment }}</span>
                {% for category in tour.categories %}
                    <span class="tag">{{ category.name }}</span>
                {% endfor %}
            </div>
            <div class="tour__button">
                <a href="#tour__calendar" class="tour__button_make-order">Заказать тур</a>
            </div>
        </div>
    </header>
    <section class="tour__description">
        <div class="wrap">
            <h2 class="tour__description_header">КУДА МЫ ЕДЕМ?</h2>
            <p class="tour__description_info">{{ tour.description }}</p>
            <div class="tour__properties-list">
                <div class="tour__properties_item">
                    <div class="tour__properties_item-name">
                        Длительность
                    </div>
                    <div class="tour__properties_item-info">
                        <span class="tour__properties_item-icon">
                            <svg class="icon">
                              <use xlink:href="#Clock"></use>
                            </svg>
                            {{ tour.longTime }}
                        </span>
                    </div>
                </div>
                <div class="tour__properties_item">
                    <div class="tour__properties_item-name">
                        Сложность
                    </div>
                    <div class="tour__properties_item-info">
                    <span class="tour__properties_item-icon">
                         <svg class="icon">
                          <use xlink:href="#Сomplexity"></use>
                        </svg>
                        {{ tour.complexity }}
                    </span>
                    </div>
                </div>
                <div class="tour__properties_item">
                    <div class="tour__properties_item-name">
                        Размер группы
                    </div>
                    <div class="tour__properties_item-info">
                    <span class="tour__properties_item-icon">
                         <svg class="icon">
                          <use xlink:href="#Group"></use>
                        </svg>
                        До {{ tour.groupSize }} человек
                    </span>
                    </div>
                </div>
                <div class="tour__properties_item">
                    <div class="tour__properties_item-name">
                        Литры вина
                    </div>
                    <div class="tour__properties_item-info">
                    <span class="tour__properties_item-icon">
                          <svg class="icon">
                          <use xlink:href="#Glass"></use>
                        </svg>
                        Много
                    </span>
                    </div>
                </div>
            </div>
            {% if(tour.getPhotosPaths) %}
                <div class="tour__gallery">
                    <TourGallery :image-list="{{ tour.getPhotosPaths }}"/>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="tour__info">
        <div class="wrap">
            <h1 class="tour__info-header">ЧТО ВАС ОЖИДАЕТ?</h1>
            <div class="tour__info-list">
                {% for desc in tour.tourDescriptions %}
                    <div class="tour__info-list-item
                {% if loop.index is even %}
                 reverse
                {% endif %}">
                        <div class="tour__info-list-item__content">
                            <h2>{{ desc.header }}</h2>
                            <p>{{ desc.content }}</p>
                        </div>
                        <img class="tour__info-list-item__image" src="{{ asset(desc.image) }}"
                             alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="tour__details">
        <div class="wrap">
            <header class="tour__details-header">
                <h1>СТОИМОСТЬ -
                        <Price :trip-id="{{ tour.id }}" />
                </h1>
                <p>Цена за 1-4 человек. Для большего количества участников цена обговаривается индивидуально</p>
            </header>
            <div class="tour__details-info">
                <div class="tour__details-info__block">
                    <h3>Цена включает</h3>
                    <ul class="tour__details-info__list">
                        {% for details in includePrice %}
                            <li><div><svg class="icon"><use xlink:href="#Plus"></use></svg></div>{{ details.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tour__details-info__block">
                    <h3>Дополнительные расходы</h3>
                    <ul class="tour__details-info__list">
                        {% for details in excludePrice %}
                            <li><div><svg class="icon"><use xlink:href="#Plus"></use></svg></div>{{ details.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="tour__details-prepayment">
                <div class="tour__details-logo"><svg class="icon"><use xlink:href="#Wallet"></use></svg></div>
                <div class="tour__details-prepayment_content">
                    <h3>Предоплата 20%</h3>
                    <p>Остальные деньги — гиду на месте. Вы можете задать гиду любые вопросы до оплаты.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="tour__calendar">
        <div class="wrap">
            <h1 id="tour__calendar" class="tour__calendar-header">ВЫБЕРИТЕ ЛЮБОЙ ДЕНЬ И ЗАБРОНИРУЙТЕ</h1>
            <div class="tour__calendar-wrap">
                <Calendar :trip-id="{{ tour.id }}" :price="{{ tour.price }}" />
            </div>
            <div class="tour__calendar-info">
                <span class="today">Сегодня</span>
                <span class="close">День занят</span>
                <span class="free">День свободен</span>
            </div>
        </div>
    </section>
    <section class="tour__faq">
      <Faq :telegram-link="'{{ social.getTelegram }}'" :whatsapp-link="'{{ social.getWhatsapp }}'"/>
    </section>
    <section class="tour__reviews">
        <Reviews :trip-id="{{ tour.id }}" />
    </section>
{% endblock %}